* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --nav-background-color: rgb(50, 50, 50);
  --nav-link-color: rgb(0, 0, 0);
  --nav-link-hover: rgb(225, 80, 80);
  --pop-color: rgb(225, 80, 80);
  --nav-font-size: 1.4rem;
  --h1-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --p-font-size: 1.5rem;
  --background-color: rgb(90, 90, 90);
  --side-bar-color: rgb(75, 75, 75);
}

.grid {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 100px 1fr 1fr 100px;
}

body {
  background-color: var(--side-bar-color);
}

h1 {
  color: var(--pop-color);
  font-size: var(--h1-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  font-size: var(--p-font-size);
}

.nav {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

nav {
  display: flex;
  width: 100%;
  background-color: var(--nav-background-color);
  font-size: var(--nav-font-size);
  align-items: center;
  justify-content: space-evenly;
  padding: 0.25rem 10%;
}

nav a {
  text-decoration: none;
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-link-hover);
  transition: color 500ms;
}

.home-img {
  background-color: var(--background-color);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.home-text {
  background-color: var(--background-color);
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  justify-content: content;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  padding-bottom: 20%;
  /* padding: 5rem; */
  /* justify-content: center; */
  /* align-items: center; */
}

.experience {
  background-color: var(--background-color);
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  padding-left: 25%;
  padding-right: 25%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

div.vertical-line {
  width: 0.25rem;
  background-color: black;
  height: 100%; /* Override in-line if you want specific height. */
  float: left;
}

.project-1 {
  background-color: var(--background-color);
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  padding: 3rem;
  align-items: center;
}

.project-1 img {
  padding: 5%;
}

.project-2 {
  background-color: var(--background-color);
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  padding: 3rem;
  align-items: center;
}

.project-2 img {
  padding: 5%;
}

.about-text {
  background-color: var(--background-color);
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  justify-content: content;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 20%;
}
.about-img {
  background-color: var(--background-color);
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  padding: 3rem;
  align-items: center;
}

.contact {
  background-color: var(--background-color);
  grid-row: 6 / 7;
  grid-column: 2 / 4;
}
