* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

button {
	height: 2rem;
	width: 100%;
}
