#app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.current-color {
	width: 200px;
	height: 200px;
}

#color-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	border-style: solid;
}

.color {
	width: 150px;
	height: 150px;
	background-color: forestgreen;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	height: 150px;
	width: 150px;
	border-radius: 100%;
}
