<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Lifecycle Hooks</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link
			rel="stylesheet"
			href="style.css" />
	</head>
	<body>
		<div id="app">
			<p>Username: {{ username }}</p>
			<p>
				Active Color:
				<span v-bind:style="{ color: activeColor }"> {{ activeColor }} </span>
			</p>
			<input
				type="text"
				v-model="inputName" />
			<button v-on:click="enterName()">Submit</button>
			<div>
				<button
					v-for="color in colors"
					v-on:click="changeColor(color)"
					v-bind:style="{backgroundColor: color}">
					{{ color }}
				</button>
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>
